/* .container-da { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}  */
.mehsul{
    display: flex;
    justify-content: center;
    color: #f33f3f;
margin: 50px;
}
.price{
    color: #f33f3f;
}
.name{
    font-size: 20px;
}
  .data-container{
    margin: 100px 180px;
  }
.pagination { 
    text-align: center; 
    margin-top: 2rem; 
} 
  
.pagination a { 
    color: #f33f3f; 
    padding: 8px 16px; 
    text-decoration: none; 
    border: 1px solid #f33f3f; 
    margin: 0 5px; 
    border-radius: 4px; 
} 
  
.pagination a:hover { 
    background-color: #f33f3f; 
    color: white; 
} 
  
.pagination .active { 
    background-color: #f33f3f; 
    color: white; 
} 
  
.card-container { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
} 
  
.card { 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    text-align: center; 
} 
  
.card img { 
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
    border-radius: 10px; 
} 
  
/* h3 { 
    margin-top: 10px; 
    font-size: 18px; 
    text-transform: capitalize; 
} 
  
h1 { 
    text-align: center; 
    margin: 2rem; 
} 
  
p { 
    font-size: 14px; 
}  */
  
#page-numbers { 
    margin-top: 20px; 
    font-size: 16px; 
}