/* .container-da { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
}  */
.mehsul{
    display: flex;
    justify-content: center;
    color: #f33f3f;
margin: 50px;
}
.price{
    color: #f33f3f;
    padding: 10px;

}
.name{
    font-size: 30px;
}
.txt{
font-size: 16px;
padding: 10px 0px 20px 0px;
}

.bottom-cont{
    display: flex;
    justify-content: space-between;
}
.sifaris{
    font-size: 14px;
    color: #ffffff;
    background-color: #f33f3f;
    border: none;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.sifaris:hover{
    color: #ddd;
    background-color: black;
}





  .data-container{
    margin: 100px 180px;
    @media screen and (max-width: 600px) {
margin: 50px;      }
      @media screen and (min-width: 601px) and (max-width: 900px) {
margin: 50px;    }
    @media screen and (min-width: 901px) {

margin: 70px;
    }
  }
.pagination { 
    text-align: center; 
    margin-top: 2rem; 
} 
  
.pagination a { 
    color: #f33f3f; 
    padding: 8px 16px; 
    text-decoration: none; 
    border: 1px solid #f33f3f; 
    margin: 0 5px; 
    border-radius: 4px; 
    
} 
/* add to project */
.pagination a {
    @media screen and (max-width: 480px) {
        padding: 4px 10px;
        margin: 0 2px;
    }
}
#prev,#next,#page-numbers {
    @media screen and (max-width: 480px) {
        display: none;
    }
}
/* to here  */
.pagination a:hover { 
    background-color: #f33f3f; 
    color: white; 
} 
  
.pagination .active { 
    background-color: #f33f3f; 
    color: white; 
} 
  
.card-container { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
} 
/* CSS for screens smaller than 600px */
.card-container{
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
      @media screen and (min-width: 601px) and (max-width: 900px) {
        grid-template-columns: repeat(2,1fr);
    }
    @media screen and (min-width: 901px) {
grid-template-columns: repeat();
    }
}

  
  
  
  
.card { 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    text-align: center; 

} 
  
.card img { 
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
    border-radius: 10px; 
} 
  
/* h3 { 
    margin-top: 10px; 
    font-size: 18px; 
    text-transform: capitalize; 
} 
  
h1 { 
    text-align: center; 
    margin: 2rem; 
} 
  
p { 
    font-size: 14px; 
}  */
  
#page-numbers { 
    margin-top: 20px; 
    font-size: 16px; 
}